.operating-room{
  /* background-image: url('../assets/images/iv2.jpeg'); */
  background-color: aqua;
  padding: 25px 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-blend-mode: hard-light; */
}

body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: space-between;
  margin: 0;
}

.surgicalSite {
  display: flex;
  flex-direction: row;
}

.table{
  width: 270px;
  height: 550px;
  background-color: steelblue;
  border: 1px solid black;
  display: flex;
  z-index: 1;
  margin-left: 185px;
  margin-top: 24px;
}

.instruments{
  width: 250px;
  height: 550px;
  background-color: slategray;
  border: 1px solid black;
  display: flex;
  z-index: 1;
  margin-top: 24px;
}

#canvas {
  position: absolute;
  z-index: 50;
}

.hover { 
  cursor: pointer;
}

.default {
  cursor: default;
}

.open-modal {
  visibility: visible;
  z-index: 60;
  width: 275px;
  position: absolute;
  align-self: center;
  background-color: black;
  color: lawngreen;
  font-size: 20px;
  text-align: center;
  padding: 25px;
  border: 3px solid lawngreen;
}

.close-modal {
  visibility: hidden;
  position: absolute;
}

.score {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 24px;
  justify-content: space-evenly;
}

.screen {
  z-index: 12;
  background-color: black;
  height: 60px;
  width: 205px;
  color: lawngreen;
  text-align: center;
  padding: 30px;
  font-size: 24px;
  border: 15px solid slategrey;
}

.startButton {
  font-size: 24px;
  font-weight: bold;
  outline: none;
}

.startButton:hover {
  color: lawngreen;
  background-color: black;
  outline: 2px solid white;
}

.instructions {
  z-index: 12;
  background-color: black;
  color: lawngreen;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 24px;
}

.catchphrase {
}

.rules {
  margin: 0;
}
.rules li {
  margin: 5px 0;
  text-align: left;
}

.tracker {
  outline: 1px solid lawngreen;
  z-index: 14;
  height: 15px;
  width: 95%;
  margin-left: 5px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.tracker div {
  height: 100%;
  width: 14.28%;
}

.gameover {
  visibility: visible;
  z-index: 99;
  width: 250px;
  position: absolute;
  align-self: center;
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.replay {
  height: 25px;
  width: 65px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 20px;
  outline: none;
}

.replay:hover {
  color: lawngreen;
  border-color: lawngreen;
}