.operating-room{
  background-color: rgb(118, 222, 245);
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: space-between;
  margin: 0;
}

.surgicalSite {
  display: flex;
  flex-direction: row;
}

.table{
  width: 250px;
  height: 575px;
  background-color: rgb(221, 234, 247);
  display: flex;
  z-index: 1;
  padding-right: 15px;
  margin-left: 179px;
  margin-top: 10px;
  border-top: 4px groove rgb(193, 201, 209);
  border-left: 4px groove rgb(193, 201, 209);
  border-bottom: 4px ridge rgb(193, 201, 209); 
  border-right: 4px ridge rgb(193, 201, 209);
}

.instruments{
  width: 250px;
  height: 563px;
  background-color: rgb(221, 234, 247);
  display: flex;
  z-index: 1;
  margin-top: 10px;
  border-top: 10px ridge rgb(193, 201, 209);
  border-right: 10px groove rgb(193, 201, 209);
  border-bottom: 10px groove rgb(193, 201, 209);
  border-left: 10px inset rgb(193, 201, 209);
}

#canvas {
  position: absolute;
  z-index: 50;
}

.hover { 
  cursor: pointer;
}

.default {
  cursor: default;
}

.open-modal {
  visibility: visible;
  z-index: 60;
  width: 275px;
  position: absolute;
  align-self: center;
  background-color: black;
  color: lawngreen;
  font-size: 20px;
  text-align: center;
  padding: 25px;
  border: 3px solid lawngreen;
}

.close-modal {
  visibility: hidden;
  position: absolute;
}

.score {
  display: flex;
  flex-direction: column-reverse;
  height: 575px;
  margin-top: 15px;
  justify-content: space-between;
}

.screen {
  z-index: 12;
  background-color: black;
  height: 60px;
  width: 205px;
  color: lawngreen;
  text-align: center;
  padding: 30px;
  font-size: 24px;
  border-left: 20px ridge rgb(193, 201, 209);
  border-bottom: 20px ridge rgb(193, 201, 209);
  border-top: 20px groove rgb(193, 201, 209);
  border-right: 20px groove rgb(193, 201, 209);
}

#timer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.startButton {
  font-size: 24px;
  font-weight: bold;
  outline: none;
  z-index: 100;
  align-items: center;
  display: flex;
  justify-content: center;
}

.startButton:hover {
  color: lawngreen;
  background-color: black;
  outline: 2px solid white;
}

.instructions {
  z-index: 12;
  background-color: black;
  color: lawngreen;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 24px;
}

.catchphrase {
}

.rules {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rules li {
  margin: 10px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}

.tracker {
  outline: 1px solid lawngreen;
  z-index: 14;
  height: 15px;
  width: 95%;
  margin-left: 5px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.tracker div {
  height: 100%;
  width: 14.28%;
}

.gameover {
  visibility: visible;
  z-index: 99;
  width: 600px;
  height: 400px;
  position: absolute;
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-won div {
  color: black;
}

#game-lost div {
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
}

#game-won {
  background-image: url('../assets/images/won.jpg');
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  border: 1px solid white;
  justify-content: space-around;
}

#game-lost {
  background-image: url('../assets/images/lost.png');
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
}

.replay {
  height: 50px;
  width: 130px;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  font-weight: bold;
  margin: 20px;
  outline: none;
}

.replay:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.modal-background {
  visibility: visible;
  background-color: rgb(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
}